.expense-chart-container,
.income-box-container,
.total-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expenses-info,
.income-info,
.total-info {
  text-align: center;
}

.chart,
.income-chart,
.total-chart {
  margin: 20px;
  width: 300px; /* Set a fixed width for consistency */
  height: 300px; /* Set a fixed height for consistency */
}

/* Add your existing styling for other elements as needed */
