.hide-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.scrollable-card {
  max-height: 300px;
  overflow-y: auto;
}

.sticky-heading {
  position: -webkit-sticky;
  position: sticky;
  top: -16px;
  background-color: white;
  padding: 25px;
  margin: 0;
}
