.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.form-label {
  margin-bottom: 8px;
  display: block;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-button {
  background-color: #6e8391 !important;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #2980b9 !important;
  }
}

.form-link {
  color: #3498db;
  cursor: pointer;
  text-decoration: underline;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.signup-form {
  display: none; // Initially hide the signup form
}

.login-form {
  display: flex;
  flex-direction: column;
}

.show-signup-form .signup-form {
  display: flex;
  flex-direction: column;
}

.show-login-form .login-form {
  display: flex;
  flex-direction: column;
}
