.sidebar {
  background-color: black;
  &.collapsed {
    width: 100px;
    .navItem {
      justify-content: center;
    }
  }

  .header {
    .icon {
      font-size: 35px;
      vertical-align: middle;
    }

    h1 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
    }
  }
  .navItem {
    width: 90%;
    margin: 0 auto;
    align-items: center;
    .icon {
      font-size: 20px;
      vertical-align: middle;
    }
  }
  .navItem:hover {
    background-color: #a87ccc;
    border-radius: 20px 20px 20px 20px;
  }
}
